.body{
    font-family: Arial, Helvetica, sans-serif;
}

.logo-fatec{
    display: block;
    margin: auto;
    max-width: 60%;
    height: auto;
  }

h1{  /*titulo depois do menu*/
    text-align: center;
}  

ul {  /*menu*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    background-color: #333;
  }
  
li { /*menu*/
    display: inline-block;
    margin: 0 10px;
  }
  
li a { /*menu*/
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover {  /*menu*/
    background-color: #111;
  }  

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #08355A;
    width: 500px;
    height: 700px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    text-align: justify;
}


.fusca{
    width: auto;
    height: 300px;
}